{% extends "base.html" %}
{% block content %}

<div style="max-width:900px;margin:auto;background:white;padding:30px;border-radius:10px;box-shadow:0 4px 10px rgba(0,0,0,0.08);">

    <h1>{{ article.title }}</h1>
    <p style="color:gray;">{{ article.created_at.strftime('%B %d, %Y') }}</p>

    <hr>
{% if post.image %}
<img src="{{ url_for('static', filename='uploads/news/' + post.image) }}">
{% endif %}
    <p>{{ article.content }}</p>

    {% if article.source_link %}
        <p>
            <em>
                Source:
                <a href="{{ article.source_link }}" target="_blank">
                    {{ article.source_name }}
                </a>
            </em>
        </p>
    {% endif %}

</div>

{% endblock %}